*.iml
*.aab
*.apk
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/new_app.jks
/app/build
./app/release
./app/build
./app/google-services.json
